.picofme {
  width: 20%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.experiencetable,
th,
tr,
td {
  border-style: solid;
  border-color: white;
  border-collapse: collapse;
  font-family: Century Gothic;
  font-size: medium;
  color: white;
  background: #ffffff15;
  justify-content: center;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 35px;
}

.experiencepage {
  background-color: darkslategrey;
  font-family: Century Gothic;
  color: white;
}

.educationtable {
  border-style: solid;
  border-color: black;
  border-collapse: collapse;
  font-family: Century Gothic;
  font-size: medium;
  justify-content: center;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 35px;
}

.contactme {
  font-family: Century Gothic;
  font-size: medium;
}

.homepage {
  background-color: darkslategrey;
  color: white;
  font-family: Century Gothic;
}

.goalspage {
  background-color: darkslategrey;
  color: white;
  font-family: Century Gothic;
}

.projectspage {
  background-color: darkslategrey;
  color: white;
  font-family: Century Gothic;
}

.contactme {
  background-color: darkslategrey;
  color: white;
  font-family: Century Gothic;
}

a {
  color: white;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  gap: 5em;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projectContainer {
  border: solid 1px #ffffff;
  padding: 1em;
  border-radius: 10px;
  background: #ffffff15;
  display: flex;
  flex-direction: column;
  width: 25em;
}

#contactform {
  border: solid 1px #ffffff;
  padding: 1em;
  border-radius: 10px;
  width: 22em;
  display: flex;
  flex-direction: column;
  background: #ffffff15;
}

#submit {
  text-align: center;
}
.projectContainer h2 {
  margin: 0;
}

@media (max-width: 768px) {
  .projectContainer,
  #contactform {
    width: 90%;
  }

  .navbar {
    width: 80%;
    flex-direction: column;
    justify-content: space-between;
    font-family: Century Gothic;
  }
}
